/Bootstrap
/CSS-part-6-Q.css
/CSS-part-6-Q.html
/Q1.css
/Q1.html
/Q2.css
/Q2.html
/animation.css
/animation.html
/cat.jpg
/displayFlex.css
/displayFlex.html
/dog.jpg
/ex.css
/ex.html
/google.css
/google.html
/grid.css
/grid.html
/media-query.css
/media-query.html
/mini-project.css
/mini-project.html
/pet-adoption.css
/pet-adoption.html
/photo.jpg
/z-index.css
/z-index.html